body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.score {
  margin-top: 60px;
  text-align: center;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin: 10px;
  width: 150px;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-auto{
  display: flex;
  justify-content: center;
}

.moves{
  text-align: center;
}